.header{
    color: rgb(238, 120, 238);
}

.table{
    margin-left: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th,td{
    padding: 10px;
}

button{
    background-color: black;
    color: white;
    border-radius: 7px;
    /* margin-right: 4px; */
    padding: 7px;
}

button:hover{
    background-color: rgb(90, 82, 82);
}

/* body{
    background-image: linear-gradient(180deg, rgb(181, 244, 181), rgb(245, 159, 159));
} */